
@font-face {
  font-family: 'Monserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/MontserratAlternates-Regular.ttf'); /* IE9 Compat Modes */
 
}

.App {
  font-family: "Monserrat";
  margin: 0;
  padding:0;
  background-position: top right;
  background-repeat: no-repeat;
}

