.container{
    margin: 0 auto;
}
.svg-footer{
    width: 100%;
    margin-bottom: -4px;
}
.div-row{
    flex-direction: row;
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
}
.div-column{
    flex-direction: column;    
    flex: 1;
}
.img-logo{
    width: 90%;
}
.div-container{
    height: 95vh;  
}
.div-middle-container{
    height: 47.5vh; 
}
.container-1-home-left{
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.container-1-home-rigth{
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.div-1{
    align-items: center;
    justify-content: center;
}
.div-header{
    font-size: 3em;
}
.form-div-home{
    width: 40%;;
}
.div-2{
  background-image: url(../Assets/bg_container.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
}
.div-3{
    margin-top: -10px;
}
.div-body-row-1-div-2{
    width: 100%;
}
.div-body-row-2-div-2{
    width: 100%;
    
}
.div-column-div-2{
    flex: 0.99;
}

.div-column-1{
    display: flex;
    justify-content: center;
    margin-left: 50px;
}
.div-column-2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-column-3{
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-column-4{
    display: flex;
    justify-content: center;
}

.div-title-div-2{
    width: 90%;
    font-size: 2.3em;
    color: #22A1F1;
    font-weight: bold;
    margin-left: 50px;
}

.div-description-div-2{
    margin-left: 50px;
}

.div-body-div-2{
    height: 100%;
}
.div-footer{
    width: 100%;
    height: 20vh;
    background: #687393;
}

.div-3-conteiner{
    width: 100%;
    flex: 1;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    background: #F1F1F1;
}
.div-3-1{
    flex-direction: column;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.div-3-2{
    flex-direction: column;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.div-3-3{
    flex-direction: column;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.div-3-4{
    flex-direction: column;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.div-card{
    width: 90%;
}
.header-card{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    width: 100%;
}
.body-card{
    width: 100%;
}
.step-card{
    width: 80%;
    font-size: 2em;
    font-weight: 800;
    color: cornflowerblue;
}
.title-card{
    margin: 0 auto;
    width: 80%;
    font-size: 1.2em;
    font-weight: 600;
    color: rgb(78, 78, 78);
}
.description-card{
    margin: 1% auto 0 auto;
    width: 80%;
    font-size: 1em;
    color: rgb(78, 78, 78);
}
.img-card{width: 100%;}
.div-top-svg{
    width: 100%;
}
.img-top-svg{
    width: 100%;
}
@media screen and (max-width:720px){
    .img-logo{
        width: 100%;
    }
    .div-2{
        height: 100%;
    }
    .div-3{
        margin-top: -20px;
        margin-bottom: -20px;

    }
    .div-body-row-1-div-2{
        width: 100%;
        display: block;
    }
    .div-body-row-2-div-2{
        width: 100%;
        display: block;
    }
    .div-description-div-2{
        margin: 0 50px;
        text-align: center;
    }
    .div-title-div-2{
        font-size: 1.5em;
        text-align: center;
        margin: 0 auto;
    }
    .div-column-1{
        margin-left: 0px;
    }
    .img-logo{
        width: 100%;
    }
    .svg-footer{
        width: 100%;
        margin-bottom: -6px;
    }
    .div-card{
        width: 90%;
        height: 95%;
        margin: 10px auto;
        padding: 20px 0;
    }
    .div-3-1{
        width: 100%;
        height: 50%;
        display: block;
    }
    .div-3-2{
        width: 100%;
        height: 50%;
        display: block;
    }
    .div-3-3{
        width: 100%;
        height: 50%;
        display: block;
    }
    .div-3-4{
        width: 100%;
        height: 50%;
        display: block;
    }
    .div-3-conteiner{
        width: 100%;
        height: 100%;
        flex: 1;
        flex-direction: unset;
        display: block;
    }
    .step-card{
        margin: 0 auto;
    }
 
}