.container_login{
    width: 100%;
    height: 93vh;
}
.div-line-navbar{
    width: 100%;
    border: 1px solid lightblue;
}
.conteiner-form{
    width: 100%;
    flex: 1;
    height: 100%;
    display: flex;
}
.div-inputs-form{
    width: 100%;
    margin-top: 20px;
    border: 1px solid lightblue;
    border-radius: 10px;
}
.sub-body-form{
    width: 70%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.body-form{
    width: 70%;
    height: 80%;
}
.header-form{
    width: 100%;
    text-align: center;
}
.header-form img{
    width: 40%;
}
.div-colum{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}
.div-form-conteiner{
    align-items: center;
    justify-content: flex-start;
}
.div-form{
    border-radius: 10px;
    width: 95%;
    padding: 16px;
}
.div-buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1;
    margin-top: 20px;
}
.div-buttons-column{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.btn-base{
    background: none;
    outline: none;
    border: none;
    font-size: 16px;
    padding: 10px 8px;
    
}
.btn-login{
    width: 65%;
    background: rgb(88, 207, 247);
    color: white;
    border-radius: 5px;
}

@media screen and (max-width:987px){
    .div-colum{
        display: block;
    }
    .div-animation{
        display: none;
    }
    .sub-body-form{
        width: 100%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .body-form{
        width: 90%;
        height: 80%;
    }
 
    .div-buttons-column{
        flex: 1;
    }
    .btn-login{
        width: 100%;
    }
}