.nav-bar{
    padding-left: 5%;
    display: flex;
    align-items: center;
    min-height: 7vh;
    color: rgb(155, 155, 155); 
}
.div-line-divider{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 01px;
    background: rgb(233, 233, 233);
    width: 100%;
}
.img-logo-navbar{
    width:70%
}
.link{
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(155, 155, 155);
    
}
.link-img-navbar{

}
.nav-links{
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    list-style: none;
}
.nav-div{
    display: flex;
    justify-content: flex-end;
    width: 80%;
}
.btn-menu-dropdwon{
    display: flex;
    justify-items: center;
    align-items: center;
    margin-right: 20px;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background: #33B1E8;
    color: white;
    outline: none;
}
.btn-menu-dropdwon button span{
    width: 100%;
}
.header-menu{
    text-align: center;
    margin-bottom: 10px;
}
.menu{
    background: white;
    position: absolute;
    padding: 20px 15px;
    width: 300px;
    top: 7.1%;
    right: 0;
    margin-right: 10px;
    z-index: 1000;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 13px -7px #949494, 11px 11px 13px 9px rgba(145,145,145,0); 
    box-shadow: 0px 10px 13px -7px #949494, 11px 11px 13px 9px rgba(145,145,145,0)
}
.btn-contact{
    margin-right: 10px;
    background: transparent;
    height: 40px;
    border-radius: 20px ;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(124, 124, 124);
    border: 1px solid #33B1E8;
    outline: none;
}
.btn-contact-dark{
    margin-right: 10px;
    background: transparent;
    height: 40px;
    border-radius: 20px ;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid #4B73FF;
    outline: none;
}
.btn-menu-dropdwon{
    align-items: center;
    justify-content: center;
}
.nav-div-menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    width: 100%;
}
.menu button{
    background: white;
    width: 100%;
    margin: 0px;
    padding: 0;
    display: flex;
    justify-items: center;
    align-items: center;
    height: 45px;
    border: none;
    font-size: 0.8em;
    outline: none;
}
.menu button span{
    color:rgb(126, 126, 126);
    background: lightgray;
    margin-right: 10px;
    border-radius: 15px;
    padding: 3px;
}

.icon-menu{
    color:rgb(126, 126, 126);
    background: lightgray;
    margin-right: 10px;
    border-radius: 15px;
    padding: 3px;
    width: 24px;
}
.div-icon-menu-dark-mode{
    flex: 1;
}
.div-description-menu-dark-mode{
    flex: 5;
    font-size:0.8em;
    font-family: system-ui;
    color: #808080;
}
.div-action-menu-dark-mode{
    flex: 2;
    justify-content: center;
    align-items: center;
}
.div-row-menu{
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 45px;
}

.div-column-menu{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

/* -----------------------------------------------------------DARK STYLES --------------------------------------- */

.nav-bar-dark{
    padding-left: 5%;
    display: flex;
    align-items: center;
    min-height: 7vh;
    color: rgb(155, 155, 155);     

}

.menu-dark{
    background: rgb(77, 77, 77);
    position: absolute;
    padding: 20px 15px;
    width: 300px;
    top: 7.1%;
    right: 0;
    margin-right: 10px;
    z-index: 1000;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 13px -7px #464646, 11px 11px 13px 9px rgba(32, 32, 32, 0); 
    box-shadow: 0px 10px 13px -7px #464646, 11px 11px 13px 9px rgba(32, 32, 32, 0);
}
.menu-dark button{
    background: rgb(77, 77, 77);
    color: rgb(187, 187, 187);
    width: 100%;
    margin: 0px;
    padding: 0;
    display: flex;
    justify-items: center;
    align-items: center;
    height: 45px;
    border: none;
    font-size: 0.8em;
    outline: none;
}
.div-description-menu-dark-mode-dark{
    flex: 5;
    font-size:0.8em;
    font-family: system-ui;
    color: rgb(187, 187, 187);
}
.menu-dark button span{
    color:rgb(126, 126, 126);
    background: lightgray;
    margin-right: 10px;
    border-radius: 15px;
    padding: 3px;
}
.btn-menu-dropdwon-dark{
    display: flex;
    justify-items: center;
    align-items: center;
    margin-right: 20px;
    border: none;
    height: 40px;
    width: 40px;
    color: white;
    border-radius: 20px;
    background:#4B73FF;
    font-size: 2em;
    outline: none;
}
.no-text-decoration{
    text-decoration: none;
}
@media screen and (max-width:720px){
    .nav-bar{
        min-height: 10vh;
    }

    .img-logo-navbar{
        width:75%
    }
    .menu{
        width: 200px;
        margin-right: 5px;
        top: 11.5%;
    }

    .nav-bar-dark{
        min-height: 10vh;
    }
    .menu-dark{
        width: 200px;
        margin-right: 5px;
        top: 11.5%;
    }
}